<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <!--    <add key="Clicksign-Host" value="https://api.clicksign-demo.com" />-->
      <!--    <add key="Clicksign-Token" value="f036c339b1c5daca36be78c72eb1d00f" />-->

      <add key="Clicksign-Host" value="https://api.clicksign-stage.com" />
      <add key="ClickSign-Token" value="0aae1318ae7cac393d1b62db76d80fbe" />
    </appSettings>

    <connectionStrings>

    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
